In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
cs = pd.read_csv("E:\Datasets\data\car-sales-extended-missing-data.csv")
cs.head()

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\User\AppData\Local\Temp\ipykernel_1804\791060562.py:1: SyntaxWarning: invalid escape sequence '\D'
  cs = pd.read_csv("E:\Datasets\data\car-sales-extended-missing-data.csv")

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [51]:
cs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 950 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           950 non-null    object
 1   Colour         950 non-null    object
 2   Odometer (KM)  950 non-null    float64
 3   Doors          950 non-null    float64
 4   Price          950 non-null    float64
dtypes: float64(3), object(2)
memory usage: 44.5+ KB

In [21]:
cs.isnull().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

### Option 1 : Filling missing values using Pandas

In [29]:
cs["Colour"].fillna("Missing",inplace = True)
cs["Doors"].fillna(4, inplace=True)
cs["Make"].fillna("Missing",inplace = True)
cs["Odometer (KM)"].fillna(cs["Odometer (KM)"].mean(),inplace = True)

C:\Users\User\AppData\Local\Temp\ipykernel_1804\429266128.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cs["Make"].fillna("Missing",inplace = True)
C:\Users\User\AppData\Local\Temp\ipykernel_1804\429266128.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cs["Odometer (KM)"].fillna(cs["Odometer (KM)"].mean(),inplace = True)

In [30]:
cs.isnull().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [31]:
cs.dropna(inplace = True)

In [32]:
len(cs)

950

In [33]:
cs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 950 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           950 non-null    object
 1   Colour         950 non-null    object
 2   Odometer (KM)  950 non-null    float64
 3   Doors          950 non-null    float64
 4   Price          950 non-null    float64
dtypes: float64(3), object(2)
memory usage: 44.5+ KB

In [35]:
X = cs.drop("Price",axis = 1)
y = cs["Price"]

In [39]:
#converting numerical to non munerical 
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categories = ["Make","Colour","Doors"]
one_hot = OneHotEncoder()

transform = ColumnTransformer([("one_hot",one_hot,categories)],remainder="passthrough")
transformed_X = transform.fit_transform(X)
transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [49]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(transformed_X,y,test_size=0.1)

In [50]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.3178718746954047

### Option 2 : Filling missing values using Scikit-Learn

In [65]:
cs1 = pd.read_csv("E:\Datasets\data\car-sales-extended-missing-data.csv")
cs1.head()

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\User\AppData\Local\Temp\ipykernel_1804\1453712182.py:1: SyntaxWarning: invalid escape sequence '\D'
  cs1 = pd.read_csv("E:\Datasets\data\car-sales-extended-missing-data.csv")

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [66]:
len(cs1)

1000

In [67]:
cs1.isnull().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [68]:
cs1.dropna(subset="Price",inplace = True)

In [69]:
cs1.isnull().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [70]:
#split X & y
X = cs1.drop("Price",axis = 1)
y = cs1["Price"]

In [73]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

#filling numerical and categorical data using SimpleImputer
cat_imputer = SimpleImputer(strategy="constant",fill_value="missing")
door_imputer = SimpleImputer(strategy = "constant",fill_value=4)
num_imputer = SimpleImputer(strategy = "mean")

#define columns
cat_features = ["Make","Colour"]
door_features = ["Doors"]
num_feature = ["Odometer (KM)"]

# creating imputer
imputer = ColumnTransformer([
    ("cat_imputer",cat_imputer,cat_features),
    ("door_imputer",door_imputer,door_features),
    ("num_imputer",num_imputer,num_feature)
])

filled_X = imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [75]:
new_cs1 = pd.DataFrame(filled_X,columns=['Make','Colour','Doors','Odometer (KM)'])
new_cs1.head()

     Make Colour Doors Odometer (KM)
0   Honda  White   4.0       35431.0
1     BMW   Blue   5.0      192714.0
2   Honda  White   4.0       84714.0
3  Toyota  White   4.0      154365.0
4  Nissan   Blue   3.0      181577.0

In [78]:
new_cs1.isnull().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [79]:
#Now the rest part is same ..... until we fit the model